#admin-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: var(--dark_box_bg);
}

#admin-nav h1 {
  font-size: 1.5rem;
}

#admin-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.admin-img-div {
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.admin-img-div img {
  width: 100%;
  height: 100%;
}

.admin-text-div #username {
  font-size: 1rem;
  color: var(--icon_text_color);
}

.admin-text-div #role {
  font-size: 0.8rem;
  color: var(--dull_text);
}

#overview-div {
  padding: 20px;
  display: flex;
  align-items: start;
  gap: 20px;
}

.overview {
  flex: 1;
  height: 100px;
  border-radius: 10px;
  background-color: var(--dark_box_bg);
}

#list-graphs-div {
  padding: 0 20px 20px 20px;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
}

#list {
  padding: 20px;
  width: 55%;
  height: 500px;
  border-radius: 10px;
  background-color: var(--dark_box_bg);
}

#graphs {
  padding: 20px 20px 20px 0;
  width: 45%;
  height: 300px;
  border-radius: 10px;
  background-color: var(--dark_box_bg);
}